workflows/Execute_FLIX_template.json
{
  "name": "Agentic - Execute FLIX template",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "arguments",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        100
      ],
      "id": "1764ab7a-309c-4ee1-aa27-7c2f69076762",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -140
      ],
      "id": "797ec7ca-26c1-4599-a8e7-4931f174256c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "903a9a36-d623-4ff1-a23c-7a4f3d524b3b",
              "name": "id",
              "value": "290b6b6222b2a77b16db896a80ddf29ebd1fa3038c9e6625a933fa213fce51fa",
              "type": "string"
            },
            {
              "id": "24b156ba-4ac3-42c1-9c89-1883e60d3088",
              "name": "arguments",
              "value": "={{ [10, \"0x66b91c901e8ab3fa\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -140
      ],
      "id": "e643f603-cf87-449b-825c-11b72c271b1e",
      "name": "Init input"
    },
    {
      "parameters": {
        "url": "=https://flix-agentic.majus.app/v1/templates/{{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "0629aac4-fcd5-4869-a2e8-44d866fee9bd",
      "name": "Fetch template data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest-testnet.onflow.org/v1/transactions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "id": "ed0405ea-6ede-486d-83a1-b367b133bd69",
      "name": "Submit a transaction"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "068a8fed-e926-4f67-b396-acdc4ad1f4e3",
              "name": "script",
              "value": "={{ $json.data.cadence }}",
              "type": "string"
            },
            {
              "id": "68fd0901-e40a-48a5-8b87-25d6d1385709",
              "name": "argumentts",
              "value": "={{ $('Init input').item.json.arguments }}",
              "type": "array"
            },
            {
              "id": "c09caf55-d03c-4461-be3e-fb4718a7ba47",
              "name": "reference_block_id",
              "value": "???",
              "type": "string"
            },
            {
              "id": "424d0f95-70c5-49b4-a37d-3e609b41f3a0",
              "name": "gas_limit",
              "value": "???",
              "type": "string"
            },
            {
              "id": "2cddbbdf-a418-49b6-b6b8-d3109d147c66",
              "name": "payer",
              "value": "???",
              "type": "string"
            },
            {
              "id": "a492c8df-ec42-49b7-8c5a-3248eb9bcca8",
              "name": "proposal_key",
              "value": "={{ { \"address\": \"0x...\", \"key_index\": 0, \"sequence_number\": 0 } }}",
              "type": "object"
            },
            {
              "id": "395fcc5b-9deb-4344-bd08-03680cf1d82b",
              "name": "authorizers",
              "value": "={{ [\"0x...\"] }}",
              "type": "array"
            },
            {
              "id": "f9d34bf1-7280-4a03-95bd-e443654817ee",
              "name": "payload_signatures",
              "value": "={{ [] }}",
              "type": "array"
            },
            {
              "id": "9a188639-eeed-4759-904c-17b81a32f922",
              "name": "envelope_signatures",
              "value": "={{ [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "e7d8bf04-8a8b-46c0-9620-e9100c382cc7",
      "name": "Prepare payload"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Fetch template data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Init input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init input": {
      "main": [
        [
          {
            "node": "Fetch template data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch template data": {
      "main": [
        [
          {
            "node": "Prepare payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare payload": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99f686a3-1c18-469a-9583-d893ff46b242",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a127041ab2c0a456c612db2c737ce582ec8f8dd14205bcdca991d2585b3c019"
  },
  "id": "SeNwktoTHbhOLr9A",
  "tags": []
}